{% block pitech_image_crop_crop_image_widget %}
    {% spaceless %}
        <div class="vich-image">
            <span id="pitech_image_crop_crop_file">
                {{ form_widget(form.file) }}
            </span>

            {% if form.delete is defined %}
                {{ form_row(form.delete) }}
            {% endif %}

            {% set has_uri = download_uri is defined and download_uri %}
            {% if has_uri %}
                <a href="{{ download_uri }}"></a>
            {% endif %}

            <img id="pitech_image_crop_crop_image" style="max-width:100%;{% if not has_uri %}display:none{% endif %}"
                 src="{% if has_uri %}{{ download_uri }}{% endif %}" alt=""
            />

            {% if has_uri %}
                </a>
            {% endif %}

            {% if show_download_link and download_uri is defined and download_uri%}
                <a href="{{ download_uri }}">{{ 'download'|trans({}, 'VichUploaderBundle') }}</a>
            {% endif %}

            <span id="pitech_image_crop_crop_data">
                {{ form_row(form.imageData) }}
            </span>
        </div>
    {% endspaceless %}
{% endblock %}
